img {
	max-width: 100%;
}

.row, .column {
	display: flex;
}

.column {
	flex-direction: column;
}

.y-center {
	align-items: center;
}

.modal {
	position: absolute !important;
	top: 45px;
	width: 500px;
	left: 0;
	right: 0;
	z-index: 50;
	margin: 0 auto;
	background: #eee;
	padding: 25px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
